









*{
    font-family: 'Montserrat', sans-serif;
}



body{
    background-color: #1f2937;
    color: #f9fafb;
    margin: 0;
    padding: 0rem;
    line-height: 3rem;
    
}

nav{
    background-color:#5b21b6 ;
    padding: 1.5rem;
    margin-bottom: 2rem;

}
a{
    text-decoration: none ;
    color: #f9fafb;
    padding: 0.5rem;
    font-size: larger;
    font-weight: bold;
    
}
.container{
    width: 90%;
	margin: auto;
}
#head{
    text-align:center
}
.angle-input
{
    display: block;
    /* margin-left: 280px; */
    margin-left:27vw;
    width:27rem;
    height:1.8rem;
   


}
.angle{
    margin-left:27vw;
    font-size: large;
}
.btn{
    margin-left:27vw;
    width:27.5rem;
    height:2.5rem;
    border-radius: 1px;
    background-color: #5b21b6;
    color: #f9fafb;
    border-style: none;
    font-size: larger;
    font-weight: bold;
}
#output-div{
    text-align: center;
    font-size: x-large;
}


/* Quiz triangle styles are follow */

label,input{
    display: inline;
}

#div1{
    
    padding:1rem;
    margin-left:17rem;
    margin-right:17em;
    height: 130px;
    border-radius: 0.5rem;
    border: 2px solid #5b21b6;
}
.quiz-form{
    line-height: 1.5rem;
}

#div2{
    
    padding:1rem;
    margin-left:17rem;
    margin-right:17em;
    height: 120px;
    border-radius: 0.5rem;
    border: 2px solid #5b21b6;
    margin-bottom: 1rem;
} 

#quiz-heading{
    text-align: center;
}

#submit-ans-btn{
width:30rem ;
margin-left:17rem;
height: 2.4rem;
background-color: #5b21b6;
border-style: none;
color: #f9fafb;
font-size: large;
}
#output{
    text-align: center;
    font-size: large;
}

/* Chech Hypotenuse styles are follow */

h1{
    text-align: center;
}
#formula-hypotenuse{         
    border: 2px solid  #5b21b6;
    margin-left:15rem;
    margin-right:10em;
    height: 40px;
    padding: 0.5rem;
    text-align: center;
    
}
.hypo{
    margin-left:27vw;
    font-size: large;

}
.side-input{
    display: block;
    /* margin-left: 280px; */
    margin-left:27vw;
    width:27rem;
    height:1.8rem;
   
}

/* Chech Area of Triangle styles are follow */

#base{
    display: block;
    /* margin-left: 280px; */
    margin-left:25vw;
    width:27rem;
    height:1.8rem;
   
}
#height{
    display: block;
    /* margin-left: 280px; */
    margin-left:25vw;
    width:27rem;
    height:1.8rem;
   
}
.hypo-area{
    margin-left:25vw;
    font-size: large;

}

.area-input-txt{
    display: block;
    /* margin-left: 280px; */
    margin-left:23vw;
    width:30rem;
    height:1.8rem;
   
}
#check-area-btn{
    
        margin-left:25vw;
        width:27.5rem;
        height:2.5rem;
        border-radius: 1px;
        background-color: #5b21b6;
        color: #f9fafb;
        border-style: none;
        font-size: larger;
        font-weight: bold;
      
}